*{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1 span{   
    color:rgba(73, 190, 73, 0.79) ;
    font-family: 'Dancing Script', cursive;
}
h1{
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}
.log{
    display: flex;
    align-items: center;

}

.logo{
    width: 12%;
    margin: 50px auto 0;
}
.logo a{
    text-decoration: none;
    color: black;
    
}
.error{
    width: 600px;
    text-align: center;
    margin: 20px auto;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: red;
    border-radius: 10px;
    padding: 10px 0;
}

.form
{
    width: 500px;
    height: auto;
    margin: 10px auto;
    background-color: white;
    box-shadow: 2px 3px 5px 2px silver;  
    border-radius: 10px;
}
.fr{
    padding: 30px 0;
    margin: 0 auto;
    width: 50%;
}
.lab{
    padding: 10px 0;
}
.lab input{
    width: 250px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid silver;
    display: flex;
    padding: 5px 10px;
    
   
}
.lab input:focus{
    outline: none;
    border:2px solid rgba(73, 190, 73, 0.79);
    
}
.lab label{
    font-weight: 700;
    font-size: 18px;
}
.rememb{
    padding: 10px 0;
}
.forg{
   padding: 10px 0;
}
.button{
    margin: 10px 0 0;
    background-color: rgba(73, 190, 73, 0.79);
    padding: 15px 35px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;

}
.button:hover{
    background-color: rgba(0, 0, 0, 0.922);
    color: white;
    transition: 1s;
}
.text
{
    width: 600px;
    text-align: center;
    margin: 20px auto;
    font-weight: 500;
}